{{define "content"}}
<main class="page bg-stone-50 p-8">
    <h1 class="flex flex-col gap-2 text-4xl font-bold text-center text-secondary-600 uppercase">
        <span>Error</span>
        <span class="text-2xl opacity-75">500</span>
    </h1>
    <div class="py-6"></div>
    <div class="w-4/5 max-w-screen-sm mx-auto space-y-6">
        <p class="text-xl font-medium max-w-[42ch]">En serio, lo lamentamos.</p>
        <p class="max-w-[42ch]">Ocurrió un error inesperado en nuestros servidores. </p>
        <p class="max-w-[42ch]">Por favor vuelve más tarde para asegurar que hayamos resuelto el problema.</p>
        <p class="text-xs max-w-[42ch]">Si el problema persiste puedes contactar a soporte e informarnos o solicitar ayuda si hay algun problema con un tramite que estuvieras realizando</p>
    </div>
</main>
{{end}}
